@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oswald:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=Ubuntu:ital,wght@1,400;1,500;1,700&display=swap");

* {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font01);
}
:root {
  --corVerdeLimao: #3bad3b;
  --corLranja: #ff6200;
  --corVermelha: #ff0000;
  --corPretaTransparente: #04071475;
  --corBordaTranparente: #00000022;
  --corBranca: #fff;
  --corAzul: #0063e5;
  --corAzulEscuro: #08132f;
  --corPreta: #090b13;
  --corVerde: #0c630d;
  --corSinza: #808080;
  --corSinzaClaro: #c4bbbb;
  --corMarrom: #661919;

  --font01: "Ubuntu", sans-serif;
  --font02: "Poppins", sans-serif;
  --font03: "Oswald", sans-serif;
  --font04: "Indie Flower", cursive;
}
body {
  background-color: var(--corSinzaClaro);
  position: relative;
}

.navbar {
  color: var(--corBranca);
  background-color: var(--corAzulEscuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 12);
  padding: 5px 15px;
  font-size: 16px;
  top: 0;
  z-index: 1;
}
.navbar .navbar-content {
  display: flex;
  align-items: center;
}
.navbar .bars,
.notificacao {
  margin-right: 20px;
  cursor: pointer;
}
.logo {
  width: 50px;
  border-radius: 25px;
}
.notificacao,
.avatar {
  cursor: pointer;
  position: relative;
}
.notificacao .number {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--corAzul);
  width: 20px;
  color: var(--corBranca);
  height: 20px;
  border-radius: 50%;
  right: -10px;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdow-menu {
  position: absolute;
  background-color: var(--corAzulEscuro);
  right: 0;
  top: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 10px;
  display: none;
}
.dropdown-content {
  max-width: 400px;
  max-height: 500px;
  overflow-x: auto;
}
.dropdow-menu li,
.dropdow-menu .item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--corPreta);
  cursor: pointer;
  font-size: 15px;
}
.dropdow-menu li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.dropdow-menu li .text {
  font-style: italic;
  margin-left: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dropdow-menu li:hover,
.dropdow-menu .item:hover {
  background-color: var(--corSinza);
}
/*
MOSTRAR A MENSAGEM INTEIRA

 .dropdow-menu li .text:hover{
white-space: pre-wrap;

}*/

.dropdow-menu .item span {
  margin-right: 10px;
}
.dropdow-menu.setting {
  color: var(--corVermelha);
  width: 150px;
}
.dropdow-menu.active {
  display: block;
}

.content {
  display: flex;
  background-color: var(--corAzulEscuro);
}
.content .sidebar {
  display: block;
  color: var(--corMarrom);
  height: calc(100vh- 60px);
  width: 60px;
  height: 100vh;
  position: sticky;
  background-color: var(--corAzulEscuro);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
  top: 60px;
  overflow-y: 0;
  overflow-x: hidden;
  flex-shrink: 0;
}
.content .sidebar:hover,
.content .sidebar:active {
  width: 250px;
  transition: all 0.8s ease;
}
@media (max-width: 780px) {
  .content .sidebar {
    display: block;
    color: var(--corMarrom);
    width: calc(100vw - 0vh);
    height: 45px;
    position: static;
    background-color: var(--corAzulEscuro);
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
    top: 60px;
    overflow-y: hidden;
    overflow-x: 0;
    flex-shrink: 0;
  }
  .content {
    display: block;
  }
  .content .sidebar:hover,
  .content .sidebar:active {
    width: 100%;
    height: 36vh;
    overflow: auto;
    transition: all 0.3s ease;
  }
  .sidebar .sidebar-nav.sair {
    background-color: #ff0000;
  }
}
.sidebar-nav {
  padding: 10px;
}
.sidebar .sidebar-nav {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 16px;
  color: var(--corSinzaClaro);
}
.sidebar a:hover {
  background-color: var(--corSinza);
  color: var(--corVerde);
}
.sidebar .sidebar-nav.active {
  background-color: var(--corSinzaClaro);
  color: var(--corPreta);
}
.sidebar .sidebar-nav.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--corAzul);
}
.sidebar .sidebar-nav .icon {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  flex-shrink: 0;
}
/*sidBar*/

.sidebar .dropdown-btn {
  padding: 15px 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  width: 100%;
  font-weight: 900;
  color: var(--corBranca);
  background-color: var(--corPretaTransparente);
}
.sidebar button.dropdown-btn:hover {
  background-color: var(--corSinza);
  color: var(--corAzulEscuro);
  border: 2px solid var(--corPreta);
}
.sidebar .dropdown-btn span {
  margin-right: 5px;
}
.sidebar .icon {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  flex-shrink: 0;
}
.sidebar .dropdown-btn.active {
  background-color: var(--corSinza);
  color: var(--corAzulEscuro);
}
.sidebar .dropdown-contener {
  display: none;
  color: var(--corVermelha);
  background-color: var(--corPretaTransparente);
}
.sidebar .dropdown-contener.active {
  display: block;
}

/*Fim sidBar*/

/*CSS DASHBOARD*/

.content {
  width: 100%;
}
.content .wrapper {
  width: 100%;
  height: 90vh;
  background-color: var(--corAzulEscuro);
}

.wrapper .rowDashboard {
  width: 100%;
  height: 65vh;
}
.wrapper .rowDashboard .box-firstDashboard {
  margin: 0 auto;
  width: 320px;
  height: 330px;
  border-radius: 10px;
  background-color: #090b13;
}
.box-firstDashboard .inputDashboard {
  display: block;
  padding: 10px;
}
.inputDashboard div {
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 65px;
  margin: 0 auto;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--corVerde);
  border-radius: 10px;
}
.inputDashboard label {
  border-radius: 5px;
  background-color: var(--corBranca);
  font-size: 1.4em;
  font-weight: 900;
  display: inline-block;
  width: 45px;
  height: 45px;
  position: relative;
}

.inputDashboard span {
  padding-left: 4px;
  background-color: var(--corSinzaClaro);
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--corPretaTransparente);
}
label input:checked + span {
  border-radius: 5px;
  color: var(--corBranca);
  background-color: var(--corVerde);
}

.wrapper .row {
  background-color: var(--corSinza);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row .box {
  color: var(--corBranca);
  width: 23%;
  margin: 5px 1%;
  height: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 1px 2px 1px 2px var(--corAzulEscuro);
}







.row .box.box-first {
  background-color: var(--corAzulEscuro);
}

.row .box.box-second {
  background-color: var(--corPreta);
}
.row .box.box-trird {
  background-color: var(--corVermelha);
}
.row .box.box-fourth {
  background-color: var(--corVerde);
}
.box span {
  margin: 5px;
  font-size: 15px;
  position: relative;
  overflow: 0;
}
@media (max-width: 600px) {
  .row .box {
    width: 48%;
  }
}
@media (max-width: 450px) {
  .row {
    margin: 0 auto;
    width: 95%;
    overflow: auto;
  }
  .row .box {
    padding: 10px;
    overflow: auto;
    width: 100%;
  }
}

/*CSS infoBank*/

.content .wrapper2 {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  background-color: var(--corAzulEscuro);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrapper2 .row2 {
  width: 74%;
  background-color: var(--corPreta);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row2 .box2 {
  color: var(--corLranja);
  width: 31%;
  margin: 5px 1%;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  box-shadow: 1px 2px 1px 2px var(--corAzulEscuro);
}
.row2 .box2.box-first2 {
  background-color: var(--corSinza);
}

.row2 .box2.box-second2 {
  background-color: var(--corSinzaClaro);
}
.row2 .box2.box-trird2 {
  background-color: var(--corSinza);
}
.row2 .box2.box-fourth2 {
  background-color: var(--corSinzaClaro);
}
.row2 .box2.box-fifth2 {
  background-color: var(--corSinza);
}
.divSelect {
  background-color: var(--corBranca);
  border-radius: 10px;
  width: 280px;
  height: 170px;
  display: block;
}
.divSelect .selectI {
  display: flex;
  justify-content: space-between;
  width: 270px;
  height: 60px;
  margin: 0 auto;
}
.divSelect .selectI span {
  box-shadow: 1px 3px 0px var(--corPretaTransparente);
  border-radius: 40px;
  font-weight: bold;
  font-size: 1.5em;
  color: var(--corSinzaClaro);
  padding-top: 3px;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: var(--corAzulEscuro);
}
.top-listInfo {
  margin-top: 10px;

  height: 50px;
  width: 100%;
  overflow: hidden;
}
.top-listInfo .top-list-right {
  float: right;
}
.top-listInfo span {
  color: var(--corVerde);
  font-weight: 800;
  font-size: 1.2em;
}
.box-sexth2 {
  background-color: var(--corSinzaClaro);
}

.wrapper2 .row-3 {
  border: 1px solid var(--corAzulEscuro);
  width: 25%;
  background-color: var(--corBranca);
  border-radius: 6px;
  display: flex;
}
.box-1 {
  margin: 0 auto;
  width: 95%;
}
.box-1 h6 {
  padding-left: 5px;
}
.box-1-info div {
  background-color: var(--corSinza);
  border: 1px solid var(--corPreta);
}
.box-1-info span {
  width: 100px;
  height: 29px;
  padding: 0px 25px;
  float: right;
  border: 1px solid var(--corPretaTransparente);
  background-color: #3bad3b;
}
@media (max-width: 1400px) {
  .row2 .box2 {
    width: 48%;
  }
}
@media (max-width: 1000px) {
  .wrapper2 .row2 {
    width: 60%;
  }
  .wrapper2 .row-3 {
    width: 39%;
  }
  .row2 .box2 {
    margin: 0 auto;
    width: 100%;
    overflow: auto;
  }
}
@media (max-width: 800px) {
  .content .wrapper2 {
    width: 100%;
    height: 100vh;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrapper2 .row2 {
    margin: 0 auto;
    width: 100%;
    height: 60%;
    overflow: auto;
  }

  .row2 .box2 {
    margin: 0 auto;
    width: 95%;

    overflow: auto;
  }
  .box-1 {
    width: 100%;
  }
  .wrapper2 .row-3 {
    padding: 10px;
    width: 100%;
    overflow: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  .row-3 .box-1-info h6 {
    padding-left: 10px;
  }
}

/*CSS PERFIL*/


.wrapper {
  padding: 0px;
  width: 100%;
  background-color: var(--corSinza);
}

.container-perfil .container-usuario {
  margin-top: 5px;
  box-shadow: 8px 5px 6px 7px var(--corBordaTranparente);
  border: 1px solid var(--corSinza);
  color: var(--corAzul);
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 20px;
  padding: 10px;
  background-color: var(--corPretaTransparente);
  height: 80px;
  width: 100%;
}
.container-info span{
  font-weight: bold;
  color:var(--corSinzaClaro);
}
/*
.wrapper .container-pagina{
  
  width: 90%;
  margin: 0 auto;
  box-shadow: 8px 5px 6px 7px var(--corBordaTranparente);
  border: 1px solid var(--corSinza);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}
.wrapper .container-jogo{
  width: 100%;
  
  background-color:white;
}
.wrapper .containeer-result{
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
  width: 100%;
  
  background-color: red;
}
*/
/*CSS LISTA*/
/*dropdown butao*/

.row-result .table-list{
  height: 60px;
}
.dropdown-action {
  position: relative;
  display: inline-block;
}
.dropdown-btn-action {
  background-color: var(--corVerde);
  color: var(--corBranca);
}
.dropdown-action-item {
  display: none;
  min-width: 158px;
  height: 107px;
  overflow: auto;
  position: absolute;
  right: 0;
  z-index: 1;
}
.dropdown-action-item-ul {
  padding: 5px;
  min-width: 200px;
  height: 40px;
  background-color: var(--corSinza);
  text-decoration: none;
  justify-items: center;
  display: block;
  justify-content: left;
  list-style: none;
}
.dropdown-action-item-ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-action-item a {
  font-weight: 500;
  width: 100px;
  border-radius: 5px;
  box-shadow: inset 1px 5px 7px var(--corPreta);
  background-color: var(--corSinzaClaro);
  color: var(--corPreta);
  text-decoration: none;
  border: 1px solid var(--corAzulEscuro);
  padding: 3px;
  margin: 2px;
}
.dropdown-action-item a:hover {
  background-color: var(--corVerdeLimao);
  color: var(--corBranca);
  transition: all 0.3s ease;
}
.show-dropdown-action {
  display: block;
}
/*fim dropdown butao*/

.row .top-list {
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: var(--corAzulEscuro);
}
.top-list .title-content {
  float: left;
  color: var(--corBranca);
  padding: 10px 16px;
  font-size: 17px;
}
.top-list .top-list-right {
  padding: 10px 5px 5px 0px;
  float: right;
}
.table-list {
  text-align: center;
  background-color: var(--corPretaTransparente);
  width:100%;
}
.table-list .list-head .list-head-content {
  background-color: var(--corSinza);
  border: 1px solid var(--corPreta);
  color: var(--corPreta);
  padding: 5px 10px;
}
.table-list .list-body .list-body-content {
  background-color: var(--corSinzaClaro);
  border: 1px solid var(--corBordaTranparente);
  color: var(--corAzulEscuro);
  padding: 3px 8px;
}
.table-list .list-body .id{
  font-weight: bold;

}
.content-pagination {
  margin: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: inline-block;
  font-size: 15px;
}
.pagination a {
  color: var(--corAzul);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.5s;
}
.pagination a.active {
  background-color: var(--corSinza);
  color: var(--corAzulEscuro);
}
.pagination a:hover:not(.active) {
  background-color: var(--corSinza);
  border: 1px solid var(--corPreta);
}
.row button {
  padding: 3px 15px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px 1px var(--corBranca);
  font-weight: 500;
  cursor: pointer;
  
}
.butaoListar {
  background-color: var(--corSinza);
  color: var(--corBranca);
  padding: 2px 5px;
  border-radius: 5px;
}
.butaoListar:hover,
.butaoListar:focus {
  background-color: var(--corSinzaClaro);
  color: var(--corPreta);
  transition: all 0.5s ease;
}
.row button:hover,
.row button:focus {
  background-color: var(--corSinzaClaro);
  color: var(--corPreta);
  transition: all 0.5s ease;
}
.btn-success {
  background-color: var(--corVerde);
  color: var(--corBranca);
  padding: 2px 5px;
  border-radius: 5px;
}
.btn-primary {
  background-color: var(--corVerdeLimao);
  padding: 2px 6px;
  border-radius: 5px;
}
.btn-worning {
  background-color: var(--corAzul);
  padding: 2px 6px;
  border-radius: 5px;
}
.btn-danger {
  background-color: var(--corLranja);
  padding: 2px 6px;
  border-radius: 5px;
}
@media (max-width: 570px) {
  .table-list {
    margin: 5px 0;
    width: 100%;
    overflow-x: auto;
  }
  .list-body-content.tm-g,
  .list-head-content.tm-g {
    display: none;
  }
}
/*Formulário*/

.wrapper .row .content-adm {
  width: 100%;
  padding: 10px;
}
.content-adm .form-adm {
  width: 100%;
  position: relative;
  margin: 10px auto 0 auto;
}
.row-input {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px 30px;
  margin-bottom: 20px;
}
.title-input {
  color: var(--corPreta);
  font-size: 14px;
}
input.input-adm,
textarea.input-adm,
select.input-adm {
  width: 100%;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  border: 0.5px solid var(--corAzulEscuro);
  margin: 5px;
}
textarea.input-adm {
  resize: none;
}
input.input-adm:focus,
textarea.input-adm:focus,
select.input-adm:focus {
  outline: none;
  border: 2px solid var(--corVerde);
}

/*Vizualizar*/

.content-adm .view-det-adm {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.view-det-adm .view-adm-title {
  width: 80px;
  color: var(--corAzulEscuro);
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}
.view-det-adm .view-adm-info {
  width: 100%;
  color: var(--corVerde);
  font-size: 15px;
  padding: 3px 10px;
}

/*informação*/

.tabInfo {
  background-color: grey;
  display: flex;
  justify-content: space-around;
}

.tabInfo td {
  padding: 25px;
  border-radius: 50px;
  background-color: wheat;

  width: 25px;
  height: 25px;
}

.divInfo {
  padding: 15px;
  border: 1px solid black;
}

.divInfo h2 {
  text-align: center;
}
.content-adm .btn-written button:hover {
  border: none;
  transition: all 0.9s ease;
}

.content-adm .first-alert {
  background-color: var(--corVerde);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}
.content-adm .second-alert {
  background-color: var(--corVerdeLimao);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}
.content-adm .third-alert {
  background-color: var(--corAzul);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}
.content-adm .bedroom-alert {
  background-color: #ff6200;
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}
.content-adm .fifth-alert {
  background-color: var(--corVermelha);
  margin: 10px 0;
  border-radius: 4px;
  padding: 12px 7px;
}

/*Botão*/
.content-adm-alert {
  width: 100%;
  background-color: var(--corSinza);
}
.content-adm .btn-fisth {
  background-color: var(--corAzulEscuro);
  color: var(--corBranca);
}
.content-adm .btn-second {
  background-color: var(--corVermelha);
  color: var(--corPreta);
}
.content-adm .btn-third {
  background-color: var(--corVerde);
  color: var(--corSinzaClaro);
}
.content-adm .btn-fourth {
  background-color: var(--corSinza);
  color: var(--corAzulEscuro);
}
.content-adm .btn-fifth {
  background-color: var(--corLranja);
  color: var(--corVerde);
}
.content-adm .btn-icon {
  margin: 5px 0;
  border: 2px solid var(--corPretaTransparente);
  padding: 10px 0;
  display: block;
  text-align: center;
  width: 60px;
}
.content-adm .btn-icon button {
  margin: 3px 0;
  border: none;
}
.content-adm .btn-icon button:hover {
  transition: all 0.9s ease;
  outline: auto;
}
